
* {
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background: url(../imgs/background.webp);
    background-size: cover;
}

main {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

#interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.623);
    font-size: x-large;
    padding: 2%;
}

#interface h1 {
    margin-bottom: 10%;
    text-align: center;
}

#interface p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

form * {
    margin-bottom: 10%;
    width: 70%;
}

#submit-input {
    width: 60%;
}

section {
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

section * {
    margin-bottom: 1%;
}

#result-title {
    text-align: center;
}

#result-image-field {
    display: flex;
    justify-content: center;
}

#result-explanation {
    background-color: rgba(0, 0, 0, 0.671);
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 5px;
    padding: 2%;
    width: 100%;
}

#result-image {
    width: 250px;
    height: 250px;
}

@media (max-width: 700px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
    } 

    #interface {
        width: 100vw;
        justify-content: center;
    }

    #interface * {
        margin-bottom: 2%;
    } 

    #interface h1 {
        margin-top: 12%;
        margin-bottom: 6%;
    }

    #interface p {
        margin-bottom: 0;
    }

    form {
        margin-top: 6%;
    }

    form * {
        width: 50%;
    }

    #submit-input {
        width: 40%;
    }

    section {
        width: 100vw;
        padding: 5%;
    }

}